<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div fxFlex="40">
    <div fxFlex *ngIf="dish">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{dish.image}} alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>


  <div fxFlex="40">
    <h2>Comments</h2>
    <div fxFlex *ngIf="dish">
      <mat-list>
        <mat-list-item  *ngFor="let item of dish.comments">
          <p matLine>
            <span>{{item.comment}}</span><br>
            <span>{{item.rating}} Stars</span><br>
            <span>-- {{item.author}} {{item.date | date}}</span>
        </mat-list-item>
      </mat-list>
      <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <!--<p>{{ commentForm.value | json }} {{ commentForm.status | json }}</p>-->
        <mat-list>
          <mat-list-item>
            <p matLine>
              <span>{{commentForm.value.comment}}</span><br>
              <span>{{commentForm.value.rating}} Stars</span><br>
              <span>-- {{commentForm.value.author}}</span>
          </mat-list-item>
        </mat-list>
        <p>
        <mat-form-field dividerColor="{{(formErrors.author) ? 'warn' : 'primary'}}">
          <input matInput formControlName="author" placeholder="Name" required>
          <mat-hint>
                <span [hidden]="!(formErrors.author)">
                  {{formErrors.author}}</span>
          </mat-hint>
        </mat-form-field>
        </p>
        <p>
        <mat-slider tickInterval="1" thumbLabel min="0" max="5" formControlName="rating" [value]="rates"></mat-slider>
        </p>
        <p>
        <mat-form-field dividerColor="{{(formErrors.comment) ? 'warn' : 'primary'}}">
          <textarea rows=12 formControlName="comment" matInput placeholder="Your Comment" required></textarea>
          <mat-hint>
                <span [hidden]="!(formErrors.comment)">
                  {{formErrors.comment}}</span>
          </mat-hint>
        </mat-form-field>
        </p>
        <p>
        <button color="primary" mat-raised-button [disabled]="commentForm.invalid">Submit</button>
        </p>
      </form>
    </div>
  </div>
  <div [hidden]="dish">
    <mat-spinner></mat-spinner><h4>Loading...Please Wait</h4>
  </div>

</div>

